<div style="text-align: center;  
font-size: x-large;  
font-family: monospace;">Operator in RxJs</div>  
<div style="margin:10px" class="card-deck">  

<!-- <h4>1) Creation Observable</h4>
<ul class="list-group list-group-flush">
    <li class="list-group-item">from</li>
    <li class="list-group-item">interval</li>
    <li class="list-group-item">of</li>
    <li class="list-group-item">timer</li>
  </ul> -->

  <ul class="list-group">
    <li class="list-group-item">Creation Operators</li>
  
    <li class="list-group-item list-group-item-primary">from</li>
    <li class="list-group-item list-group-item-secondary">interval</li>
    <li class="list-group-item list-group-item-success">of</li>
    <li class="list-group-item list-group-item-danger">timer</li>
    <li class="list-group-item list-group-item-primary">create</li>
    <li class="list-group-item list-group-item-secondary">empty</li>
    <li class="list-group-item list-group-item-success">range</li>
    <li class="list-group-item list-group-item-danger">generate</li>
  </ul>

  <button type="button" class="btn btn-primary"
  routerLink='/operators/conditional'>Conditional Operator</button>

<!--   description of operator -->

<!-- 

* from
from converts various other objects and data types into Observables. 
It also converts a Promise, an array-like, or an iterable object into an Observable that emits the items in that promise

*  interval
Creates an Observable that emits sequential numbers every specified interval of time.
Emits incremental numbers periodically in time

* of 
The of Operator will create an Observable that emits a variable amount of values in sequence

* timer
After given duration, emit numbers in sequence every specified duration.

* create
Create an observable with given subscription function

* empty
Observable that immediately completes

* range
Emit numbers in provided range in sequence.

* generate
constructs new attributes from the attributes of the input ExampleSet and arbitrary constants using mathematical expressions
 -->