<div style="text-align: center;  
font-size: x-large;  
font-family: monospace;">Operator in RxJs</div>  
<div style="margin:10px" class="card-deck">  
    
<ul class="list-group">
    <li class="list-group-item">Conditional Operators</li>
  
    <li class="list-group-item list-group-item-primary">defaultIfEmpty</li>
    <li class="list-group-item list-group-item-secondary">every</li>
    <li class="list-group-item list-group-item-success">iif</li>
    <li class="list-group-item list-group-item-danger">sequenceequal</li>
</ul>

  <button type="button" class="btn btn-primary"
  routerLink='/operators/combination'>Combination Operator</button>
  <button type="button" class="btn btn-secondary"
  (click)='back()'>Back</button>

  

<!--   description of operator -->

<!-- 

* defaultIfEmpty
Emit given value if nothing is emitted before completion.

* every
If all values pass predicate before completion emit true, else false

* iff
 RxJS iif() operator facilitates you to subscribe to the first or second observable according to the condition.

 * sequenceEqual
 sequenceEqual is a method of a particular Observable instance, so you pass it exactly one other Observable to compare the instance to.

 Compares emitted sequence to expected sequence for match
-->