<div style="text-align: center;  
font-size: x-large;  
font-family: monospace;">Example of Subscription in RxJs</div> 

<p>
    Normally Subscription means an arrangement to receive something.
</p>

<p>
    Similarly, in Angular applications Observables will be connected to observers and whenever they observe a new value or change in data, they will execute code with the help of Subscription and all the subscribed components will receive the updated outcome.   
</p>

<p>
    
One note for observables is that a particular observable can be accessed by only those components which are subscribed to it.
</p>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">title</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <th scope="row">{{item.id}}</th>
        <td>{{item.title}}</td>
      </tr>
    </tbody>
  </table>