<div class="card">
    <div class="card-header">
      <h1>Rxjs (Reactive Extensions for JavaScript)</h1>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" [routerLink]="['/observable']">Observable</li>
    </ul>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" [routerLink]="['/operators/operator-example']">Operators</li>
    </ul>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" [routerLink]="['/subscription']">Subscription</li>
    </ul>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" [routerLink]="['/subjects']">Subjects</li>
    </ul>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" [routerLink]="['/subject-demo']">Subject Demo</li>
    </ul>
  </div>